body {
    background-color: rgba(46, 106, 235, 0.884);
}

.image {
    text-align: center;
}

img {
    width: 15%;
    margin: 10px;
    height: auto;
}

img:hover {
    transform: scale(1.5);
}

h1 {
    text-align: center;
}

.Top {
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0px auto;
    width: 550px;
    height: 100%;
}

.flex-container > div {
    background-color: white;
}

.Question {
    margin: 10px;
    border-style: outset;
    border-width: thin;
    background-color: rgba(46, 106, 235, 0.295);

}

.Q {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16.75;
}

.likert {
    display: flex;
    justify-content: center;
}

.likert li {
    float: left;
    list-style-type: none;
}

.submitbtn {
    text-align: center;
}

button {
    background-color: rgba(238, 238, 238, 0.445);
    padding: 10px;
}

textarea {
    width: 100%;
}

footer {
    margin: 10px;
    font-size: 11;
}